html, body {
  font-size:10pt;
  background:#EDDAD2;
  color:#000000;
}

* {
  font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
  font-size: 10pt;
}

input, textarea {
  background-color: #EDDAD2;
  border: 1px solid #CA927B;
}

ul{
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
}


a {
  background:inherit;
  color:#34345C;
}

a:visited {
  background:inherit;
  color:#34345C;
}

a:hover {
  color:#DD0000;
  background:inherit;
}

a.quotelink {
  background:inherit;
  color:#DD0000;
}

/* this is first post in thread */
.oppostblock {

  background: inherit;
  border: 0px solid #EDDAD2;
  padding: 0px;
  margin: 0px;
  clear: both;
 /* width: -moz-max-content;
  width: -webkit-max-content;
 */ max-width: 85%;

}

/* this is other post in thread */
.cirnopostblock {

  background: #D9AF9E;
  border: 1px solid #CA927B;
  padding: 1px;
  margin-left: 35px;
  margin-bottom: 5px;
  clear: both;
 /* width: -moz-max-content;
  width: -webkit-max-content;
 */ max-width: 85%;
  min-height: -webkit-max-content;
  float : left;

}

/* this is block where post-text */
.OPblock {

  background: inherit;
  border: 0px solid #EDDAD2;
  padding: 2px;
  margin-left: 20px;
  /*clear: both;*/
  /*max-width: 85%;*/

}

/* this is block where post-pic */
.picture {

  background: inherit;
  border: 0px solid #EDDAD2;
  padding: 1px;
  margin: 1px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 4px;
  width: -moz-max-content;
  width: -webkit-max-content;
  height: -webkit-max-content;
  float: left;

}

/* this is div with info about file */
.OPtitle {
  width: -moz-max-content;
  width: -webkit-max-content;
  border: 0px solid #EDDAD2;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;

}

/* this is div with info about post */
.infos {
  border: 0px solid #EDDAD2;
  padding: 0px;
  margin: 0px;
}

/* this is post owner OP or Cirno */
.postername {
  background:inherit;
  font-size:11pt;
  color:#117743;
  font-weight: bold;
}

/* this is post theme */
.filetitle {
  background:inherit;
  color:#0F0C5D;
  font-weight:800;
}

.titled {
  font-size: 32px;
  color:#0F0C5D;
  font-weight:800;
}

/* this is post time and date */
.smallgray {
  background:inherit;
  color: gray;
  font-size: 10px;
}

/* this is reply */
.reply {
  background:inherit;
  color:#117743;
  font-weight: normal;
}

/* this is post id */
.redbig {
  background:inherit;
  color: red;
  font-size: 14px;
  font-weight: bold;
}

.redverybig {
  background:inherit;
  color: red;
  font-size: 24px;
  font-weight: bold;
}

.redsmall {
  font-size: 10px;
  color: red;
}